* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto, sans-serif;
    background-color: rgb(231, 231, 231);
}

#header {
    background-color: rgb(247, 247, 247);
    box-shadow: 0 10px 9px rgba(203, 203, 203, 0.5);
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    width: 150px;
    height: 50px;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: bolder;
}

button:hover {
    background-color: rgb(215, 215, 215);
}


form {
    margin: 50px;
    padding: 20px;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    width: 260px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#form-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
}

#submitButton {
    width: 260px;
    height: 50px;
}